@media screen and (min-height: 401px ) and (max-height: 1599px){
body{
background-color: #33D9B3;
width:100%;
height:100%;
}
.form1{
  display: flex;
  justify-content: space-around;
width: 90%;
height:100%;
margin-top: 1%;
margin-left: 3%;
margin-right: 10%;
border-radius: 10px 10px 0px 0px;

background-color: #3E3E3E;
}
.form1>h2{
  margin-top: 50%;
  text-align: left;
  color:#33D9B3;
  font-family: sans-serif;
  font-size: 4vw;
  border-left: 2px solid #33D9B3;
  height:5%;
  width:25%;
  padding-left: 1%;
}
legend{
  color:#33D9B3;

}
.biodata>label{
  color: white;
  font-family: sans-serif;
  font-size: 2vw;
  margin-right: 15%;
}
#stname{
margin-bottom: 2%;
padding: 1%;
border: 2px solid #33D9B3;
width:50%;
font-size: 2vw;
}
#roll{
  margin-left: 16%;
  padding: 1%;
  border: 2px solid #33D9B3;
width: 50%;
font-size: 2vw;
}
.data{
  width:60%;
  height: 100%;
}
.data>fieldset{
  width: 92%;
}
.data>fieldset form{
  width:100%;
}
select{
  margin-top: 5%;
  height: 50%;
  width: 100%;
border: 2px solid #33D9B3;
background-color: #3E3E3E;
color: white;
}
.formstyle>input{
width: 43%;
border: 2px solid #33D9B3;
}
option{
  background-color:  #33D9B3;
  color: white;
  font-family:sans-serif;
}
button{
  color: white;
  background-color:  #33D9B3;
  padding:2% 4%;
  margin-left: 38%;
  margin-top: 4%;
  font-size: 2vw;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 20px;
}
.result{
  background-color: #3E3E3E;
  width: 90%;
  margin-left: 3%;
box-shadow: 0px 10px 10px grey;
padding:1% 0%;
}
.result>fieldset{
  /* display: flex;
  justify-content: space-between; */
  color: #33D9B3;
}

#error, #subjectsTotalMarks, #totalMarksObtained, #percent, #grade{
  height:28px;
}
}
@media screen and (min-height:1600px) {

  body{
  background-color: #33D9B3;
  width:100%;
  height:100%;
  }
  .form1{
    display: flex;
    justify-content: space-around;
  width: 80%;
  height:100%;

  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px 10px 0px 0px;

  background-color: #3E3E3E;
  }
  .form1>h2{
    margin-top: 50%;
    text-align: left;
    color:#33D9B3;
    font-family: sans-serif;
    font-size: 4vw;
    border-left: 2px solid #33D9B3;
    height:5%;
    width:30%;
    padding-left: 1%;
  }
  legend{
    color:#33D9B3;
font-size: 4vw;
  }
  .biodata>label{
    color: white;
    font-family: sans-serif;
    font-size: 3vw;
    margin-right: 15%;
  }
  #stname{
    width: 100%;
  margin-bottom: 2%;
  padding: 1%;
  border: 2px solid #33D9B3;
  height: 50px;
  font-size: 3vw;
  }
  #roll{
    margin-left: 0%;
    padding: 1%;
    border: 2px solid #33D9B3;
  width: 100%;
  height: 50px;
  font-size: 3vw;
  }
  .data{
    width:50%;
    height: 100%;
  }
  .data>fieldset{
    width: 100%;
  }
  .data>fieldset form{
    width:100%;
  }
  select{
    margin-bottom: 5%;
    height: 50px;
    width: 100%;
  border: 2px solid #33D9B3;
  background-color: #3E3E3E;
  color: white;
  font-size: 3vw;
  }
  .formstyle>input{
  width: 44%;
  height:20px;
  font-size: 3vw;
padding:2%;
  border: 2px solid #33D9B3;
  }
  option{
    background-color:  #33D9B3;
    color: white;
    font-family:sans-serif;
  }
  button{
    color: white;
    background-color:  #33D9B3;
    padding:2% 4%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 3vw;
    font-weight: bold;
    border: 2px solid white;
  }
  .result{
    background-color: #3E3E3E;
    width: 80%;
    margin-left: 10%;
  box-shadow: 0px 10px 10px grey;
  padding:1% 0%;
  font-size: 2.5vw;
  }
  .result>fieldset{
    display: flex;
    justify-content: space-between;
    color: #33D9B3;
  }
}

@media screen and (max-height:400px) {

  body{
    display: flex;
  background-color: #33D9B3;
  width:100%;
  height:100%;
  }
  .form1{
    /* display: flex; */
    /* justify-content: space-around; */
  width: 80%;
  height:100%;
  /* margin-top: 1%; */
  /* margin-left: 10%; */
  /* margin-right: 10%; */

border-top-left-radius: 10px;
box-shadow: 0px 10px 10px grey;
  background-color: #3E3E3E;
  }
  .form1>h2{
    margin-top: 1%;
    padding-top: 1%;
    margin-left: 18%;
    text-align: center;
    color:#33D9B3;
    font-family: sans-serif;
    font-size: 1.5vw;
    border-left: 4px solid #33D9B3;
    border-right: 4px solid #33D9B3;
    height:5%;
    width:65%;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  h2>br{
    display: none;
  }
  legend{
    color:#33D9B3;

  }

  .biodata>label{
    color: white;
    font-family: sans-serif;
    font-size: 1vw;
    margin-right: 1%;
  }
  .biodata>br{
    display: none;
  }
  #stname{
  /* margin-bottom: 2%; */
  /* padding: 1%; */
  border: 2px solid #33D9B3;
  width:30%;
font-size: 1vw;
margin-right: 15%;
  }
  #roll{
    /* margin-left: 11%; */
    /* padding: 1%; */
    border: 2px solid #33D9B3;
  width: 30%;
  font-size: 1vw;
  }
  .data{
    width:100%;
    height: 100%;
  }
  .data>fieldset{
    width: 94%;
    margin-left: 1%;
  }
  .data>fieldset form{
    width:100%;

  }
  select{
    margin-bottom: 0.5%;
    height: 50%;
    width: 23%;
    border:none;
  border-left: 4px solid #33D9B3;
  background-color: #3E3E3E;
  color: white;
  }
  .formstyle>input{
  width: 10%;
  border: 2px solid #33D9B3;
  font-size: 1vw;
  }
  .formstyle>br{
    display: none;
  }
  #subject2,#subject4, #subject6, #subject8, #subject10{
    margin-left: 2.5%;
  }
  option{
    background-color:  #33D9B3;
    color: white;
    font-family:sans-serif;
  }
  button{
    color: white;
    background-color:  #33D9B3;
    padding:0.5% 2%;
    margin-left: 45%;
    font-size: 1vw;
    font-weight: bold;
    border: 2px solid white;
border-radius: 20px;
margin-top: 2%;
  }
  .result{
    background-color: #3E3E3E;
    width: 16%;
    /* margin-left: 10%; */
  box-shadow: 10px 10px 10px grey;
  padding:1% 0%;
border-top-right-radius: 10px;
  }
  .result>fieldset{
    /* display: flex;
    justify-content: space-between; */
    color: #33D9B3;
    height: 98%;
    width:77%;
  }
 #subjectsTotalMarks, #totalMarksObtained, #percent{
  border-bottom: 2px solid #33D9B3;
  height:12%;
  margin-top: 10%;
font-size: 1vw;
  border-bottom-right-radius: 20px;
}
#error{
  border-bottom: 2px solid #33D9B3;
  height:12%;
  margin-top: 10%;
font-size: 1vw;
  border-bottom-right-radius: 20px;
}
#grade{
  border-bottom: 2px solid #33D9B3;
  height:13%;
  margin-top: 10%;
font-size: 1vw;
  border-bottom-right-radius: 20px;
}

}
